{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">

    <div class="container">
        <form action='{{url_for("add")}}' method="POST">
            <h1 class="heading">Add a Movie</h1>
            <a class="button" href="/movies">Back</a>
            <br><br>
            <input name="movie_searched" placeholder="Movie Name" required style="color:black"/>

            <button style="color:black" type="submit">Search</button>
            <br><br>


        </form>
    </div>
    <div class="container text-center">
        <h2>{{ ans }}</h2>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="front" style="background-image: url({{ 'https://image.tmdb.org/t/p/w185'+img }});">
            <p class="large"></p>
        </div>
        <div class="back">
            <div>
                <div class="title">{{ title }} <span class="release_date">{{ year }}</span></div>
                <div class="rating">
                    <label>{{ rating }}</label>
                    <i class="fas fa-star star"></i>
                </div>
                <p class="review"></p>
                <p class="overview">
                    {{ overview }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center add">
    <form action='{{url_for("selected")}}' method="POST">
        <input name='title' readonly style="color:black" value='{{title}}'>
        <input name='year' readonly style="color:black" value={{year}}>
        <input name='rating' readonly style="color:black" value={{rating}}>
        <input name='overview' readonly style="color:black" value='{{overview}}'>
        <input name='image' readonly style="color:black" value={{'https://image.tmdb.org/t/p/w185'+img}}>
        <div><h3>Write a Review about the movie</h3>
        </div>
        <input name='review' style="color:black" value='{{review}}'>
        <input style="color:black" type="submit" value='submit'>
    </form>
</div>


{% endblock %}




