
{% extends "base.html" %}
{% block content %}
<head>
    <title>Marco's Personal Site</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body{
            color:white
        }
    </style>
</head>

<body>
<table cellspacing="20">
    <tbody>
    <tr>
        <td><img src="/static/images/marco.jpg" class='profile' alt="profile picture"></td>
        <td><h1>Marco Aurélio Boehme dos Santos</h1>
            <p><em>Data Scientist<strong>
                <p>I am an Economics Graduate from UFSC with good statistic knowledge and focus in Data Analysis.</p>

    </tr>
    </tbody>
</table>
<hr>
<h3>Work Portfolio</h3>

    <a class='button' href="/morse">Code Morse Converter</a>
    <a class="button" href="/textspeed">TextSpeed Test</a>
    <br><br>
    <a class="button" href="/movies">Movie Data Base</a>
    <a class="button" href="/disney">Disney music [Spotify SDK] </a>
    <br><br>
    <a class="button" href="/watermark">Add Watermark to Images</a>
<a class="button" href="/inflation">Inflation</a>
<br><br>
<hr>
<h3>Skills</h3>
<table cellspacing="10">
    <tbody>
    <tr>
        <td>Story Telling</td>
        <td>⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td>Web Development</td>
        <td>⭐️⭐️</td>
    </tr>
    <tr>
        <td> Programming</td>
        <td> ⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td> Jokes</td>
        <td> ⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    </tbody>
</table>
<hr>
<br>
<a class='button' href="https:wa.me/5548996624027">Contact Me</a>
<a class='button' href="https://github.com/Boehme23">My github</a>
<a class='button' href="https://www.linkedin.com/in/marco-aur%C3%A9lio-boehme-dos-santos-96577233a/">My Linkedin</a>
<br><br>

<a>E-mail: Boehme.m23@gmail.com</a>


</body>
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-sheet"></style>
</html>

{% endblock %}