{% extends 'base.html' %}

{% block title %}Inflation{% endblock %}

{% block content %}
<link href="/static/css/InflationCard.css" rel="stylesheet">
<div class="container">
    <h1 class="heading">Inflation</h1>
    <a class="button" href="/">Back</a>
    <h2>Inflation of prices for the Fort supermarket.</h2>
    <h2>Used selenium to daily webscrap the fort site and get price for all the products in their catalog</h2>
    <h2>Used SQLite and Pandas to create a database and update it daily with new prices</h2>
    <h2>get the weekly avg price of every item, then calculate the price change from one week to another </h2>
    <h2>MatPlotlib to create the simple graphs </h2>
    <div class="container">
        <div class="card">
            <div class="front">
                <img src="/static/images/fort_prices_table.png">
            </div>
            <div class="back">
                <img src="/static/images/Fort_sector_variation_chart.png">

            </div>
        </div>
    </div>
</div>
{% endblock %}