{% extends 'base.html' %}

{% block title %}Must Watch Movies{% endblock %}

    {% block content %}

        {% if error=='x' %}
                <script>
        window.onload = function() {
            alert("Movie Already on the List");
        };
    </script>
        {% endif %}

        <div class="container">
      <h1 class="heading" >Must Watch Movies</h1>
            <a href="/" class="button">Back</a>
                <h2>Used SQL to create a dataset with movies that are a must watch</h2>
                <h2>Connects to a movie API to get all the relevant movie info</h2>
                <h2>Movies can be add to the list, it checks if the movie is already in the database</h2>
                <h2>Movies will be searched in the movies API and will get all the relevant data about te movie</h2>
                <h2>Final part is to add the movie to the database, so i can watch it later</h2>
                        <div class="container text-center add">
    <a href="/add" class="button">Add Movie</a>
    </div>
        </div>
  {% for i in movie %}
      <div class="container">
      <div class="card" >
        <div class="front" style="background-image: url({{ i[5] }});">
            <p class="large"></p>
        </div>
        <div class="back">
          <div>
        <div class="title">{{ i[0] }} <span class="release_date">{{ i[1] }}</span></div>
            <div class="rating">
                <label>{{ i[3] }}</label>
              <i class="fas fa-star star"></i>
            </div>
              <p class="review">{{ i[4] }}</p>
            <p class="overview">
                {{ i[2] }}
            </p>
          </div>
        </div>
      </div>
    </div>
        {% endfor %}

{% endblock %}
