{% extends 'base.html' %}

{% block title %}Text Speed Testing{% endblock %}

{% block content %}
<body>

    <div class="container">
        <h1 class="heading">Speed Typing Test</h1>
        <a class="button" href="/">Back</a>
        <br>
        <br>
        <h2 style="color:white" id="quoteDisplay" class="quote-display"></h2>

        <textarea id="quoteInput" class="quote-input" placeholder="Start typing here..." autofocus></textarea>
        <br>

        <button id="startButton">Start Test</button>

        <div style="color:white"  class="results">
            <p>Time: <span id="time">0</span>s</p>
            <p>WPM: <span id="wpm">0</span></p>
            <p>Accuracy: <span id="accuracy">100</span>%</p>
        </div>

        <button id="newTextButton">New Text</button>
    </div>

    <script src="../static/js/textspeed.js"></script>
</body>
</html>
{% endblock %}