{% extends 'base.html' %}

{% block title %}Watermark Image{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="heading" >Add a Watermark</h1>
    <a href="/index" class="button" >Back</a>
    <h3>Here you can add a watermark to your image</h3>
    <h4>just chose and image and the text that you want as a watermark and it will be done and downloaded</h4>
    <br>
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">Select Image:</label>
        <input type="file" name="file" id="file" required>
      </div>
      <div class="form-group">
        <label for="watermark_text">Watermark Text:</label>
        <input type="text"  name="watermark_text" id="watermark_text" value="Your Watermark" style="color:red">
      </div>
      <button type="submit" class="btn btn-primary">Watermark & Download</button>
    </form>
  </div>
{% endblock %}